{
  "presets": [
    [
      "env",
      {
        "modules": false,
        "loose": true,
        "exclude": [
          "transform-es2015-typeof-symbol"
        ],
        "useBuiltIns": true
      }
    ],
    "stage-0"
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    [
      "transform-runtime",
      {
        "polyfill": false
      }
    ]
  ]
}
