.order-address {
    padding: 15px;
    display: flex;
}

.order-address image {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.order-address .info {
}

.order-address .info .user {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.order-address .info .user .name {
    font-size: 14px;
    font-weight: bold;
    margin-right: 15px;
    line-height: 14px;
    display: block;

}

.order-address .info .user .phone {
    font-size: 14px;
    font-weight: bold;
    margin-right: 15px;
    line-height: 14px;
    display: block;
}

.order-address .info .address {
    font-size: 14px;
    line-height: 14px;
    display: block;
    color: #999999;
    margin-left: 30px;
}