.panel {
  margin-bottom: 10px;
}

.choice-wechat-address {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;

  .useWechat {
    font-size: 14px;
    color: #4089F2;
  }

  .wechatIcon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }
}
