.order-footer-action{
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    width: 100vw;
    z-index: 6;
    border-top: 1px solid #F8F8F8;
}
.order-footer-action .footer{
    padding: 15px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    line-height: 14px;
    align-items: center;
}
.order-footer-action .footer .left{
    display: flex;
    justify-content: space-between;
}
.order-footer-action .footer .right{
    display: flex;
    justify-content: space-between;
}
