.order-state-reason{

}
.order-state-reason .header{
    border-bottom: 1px solid #F8F8F8;
    padding: 5px 15px;
}
.order-state-reason .header .state{
    font-size: 14px;
    color: #333333;

}
.order-state-reason .body{
    font-size: 12px;
    color: #999999;
    padding: 15px;
    border-bottom: 1px solid #F8F8F8;

}
.order-state-reason .body span{
    display: block;
}
.order-state-reason .footer{
    border-bottom: 1px solid #F8F8F8;
    padding: 15px;
    display: flex;
    justify-content: flex-end;
}
.order-address{
    font-size: 14px;
    color: #333333;
    font-weight: bold;
}
.refund-success{
    padding: 15px;
}
.refund-success .refund-info{
    padding-bottom: 15px;
    border-bottom: 1px solid #F8F8F8;
}
.refund-success .state-steps{
    background-color: #FFFFFF;
    padding: 15px;
    display: block;
    overflow: hidden;
}
.refund-success .refund-info .item{
    color: #333333;
    font-size: 14px;
}
.refund-success .refund-info .item label{
    font-weight: bold;
    margin-right: 10px;
}
.refund-success .refund-info .item text{

}