.refund-base-info{
}
.refund-base-info .item{
    border-bottom: 1px solid #F8F8F8;
    padding: 10px 0;
}
.refund-base-info .item .row{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 7.5px 15px;
}
.refund-base-info .item .row label{
    font-size: 14px;
    font-weight: bold;
    line-height: 14px;
    display: block;
    color: #333;
}
.refund-base-info .item .row text,time-format{
    font-size: 14px;
    line-height: 14px;
    display: block;
    color: #666;
}