.order-cost-list {
    background-color: #fff;
    padding: 15px 0px;
}

.order-cost-list .item {
}

.order-cost-list .item .row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 0 15px;
}

.order-cost-list .item .row label {
    font-size: 14px;
    font-weight: bold
}

.order-cost-list .item .row text {
    font-size: 12px;
    font-weight: bold
}
.order-cost-list .footer{
    text-align: right;
    padding: 10px 15px 0 15px;
    border-top: 1px solid #F8F8F8;
}
.order-cost-list .footer label{
    font-size: 12px;
}
.order-cost-list .footer text{
    font-size: 14px;
    font-weight: bold;
    color:#ff4400;
}