.order-contact{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
}
.order-contact image{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.order-contact text{
    font-size: 14px;
    color:#666;
}
.kf-button{
    position:relative;
    margin-left:initial;
    margin-right:initial;
    padding-left:initial;
    padding-right:initial;
    box-sizing:initial;
    font-size:initial;
    text-align:initial;
    text-decoration:initial;
    line-height:initial;
    -webkit-tap-highlight-color:initial;
    overflow:initial;
    color:initial;
    background-color:initial;
    border-radius: 0;
    border:none;
}
.kf-button:after{ border:none;}
.kf-button.prev{
    background-color: initial;
    color: initial;
}